@{
    ViewBag.Title = "Zresetowanie hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sprawdź, czy na kontaktowy adres e-mail danego konta dotarła wiadomość potwierdzająca zresetowanie hasła .
    </p>
</div>
	
