@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Super Bank  <br />
    ul. Długie Ogrody 8-14 80-755 Gdańsk<br />
    <abbr title="Phone">Telefon :</abbr>
    425.555.0100
</address>

<address>
    <strong>Pomoc:</strong>   <a href="mailto:Pomoc@example.com">pomoc@tralalal.com</a><br />
   
</address>