
@{
    ViewBag.Title = "KredytyHome";
}

<h2>Kredyty</h2>
            - niskie oprocentowanie pożyczki dla każdego <br>
            - gwarancja najniższej raty przez cały okres spłaty<br>
            - zwrot wszystkich odsetek, jeśli spłacisz pożyczkę w ciągu 6 miesięcy

