@{
    ViewBag.Title = "Centrum pomocy";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<img src="/img/pdfBIG.png" alt="Cinque Terre" width="40" height="40"> 
<a href="http://partners.adobe.com/public/developer/en/pdf/PDFReference.pdf" download>
Pobierz regulamin 
</a>


